/* 
    Created on : 08-nov-2013, 17:13:18
    Author     : Ftena
*/

.user1Style{
    background-color:lightgreen!important;
    background-image:none!important;
}

.user2Style{
    background-color:lightblue!important;
    background-image:none!important;
}

.user3Style{
    background-color:lightsalmon!important;
    background-image:none!important;
}
